@define-color bg #101419;
@define-color bg-alt #1f2328;
@define-color fg #dee1e6;
@define-color primary #74bee9;
@define-color secondary #70a5eb;
@define-color alert #fc7b81;
@define-color success #78dba9;
@define-color warning #f1cf8a;
@define-color disabled #566685;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-size: 14px;
    font-family: "Geist";
    padding: 0;
    margin: 0;
}

window#waybar {
    background: @bg;
    font-family: "Geist";
    font-weight: 500;
    border-bottom: 2px solid @bg-alt;
}

menu label {
    font-family: "Geist";
    font-weight: 500;
    padding: 4px 0px;
}

menu menuitem {
    margin: 0px 4px;
    border-radius: 4px;
}

tooltip {
    background-color: @bg;
    border: 2px solid @bg-alt;
    border-radius: 4px;
    font-family: "Geist";
    padding: 8px;
}

#clock,
#tray,
#battery {
    margin: 6px 0px 6px 0px;
    border-radius: 4px;
    font-weight: 700;
}

#pulseaudio {
    color: @fg;
    margin: 3px;
    margin-right: 14px;
}

#clock {
    color: @fg;
    margin-right: 12px;
}

#custom-rofi {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
}

#workspaces {
    background-color: @bg;
    margin: 6px;
}

#workspaces button {
    all: initial;
    margin-right: 12px;
    min-width: 0;
    color: @disabled;
    font-weight: 600;
    font-family: "Geist";
}

#workspaces button.focused {
    color: @fg;
}

#workspaces button.urgent {
    color: @alert;
}

#clock {
    background-color: @bg;
    color: @fg;
    font-weight: 700;
}

#tray {
    border-radius: 4px;
    padding: 0px 4px;
}

#battery {
    margin: 6px 12px;
    color: @success;
    font-weight: 700;
    min-width: 36px;
    border-radius: 4px;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @alert;
}

